{% extends 'Comments/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<body>
    {% if messages %}
            {% for i in messages %}
            <br>
            <div class="alert alert-secondary" role="alert">
                {{ i }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        {% endif %}


        <!-- {% if event  %}
        <div class="container-fluid">
            <div class="card mb-4 mx-5 entry">
                <div class="card-header">
                    <div class="row">
                        <div class="col">{{event.eventName}}</div>
                        <a style="display: inline;padding-right: 2%;" href="{% url 'Comments:Comments' id=event.id %}">
                            <button type="button" class="btn btn-outline-secondary">Comment</button>
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <p>Comments: </p>
                    {% for j in commentsValue %}
                        {% if j.event.eventName == event.eventName %}
                            {% if confirmed %}
                                {% for i in confirmed %}
                                    <div>
                                        <p class="card-text"><li>{{ i.comment }}</li></p> 
                                    </div>
                                    <br>
                                {% endfor %}
                            {% else %}
                                <br>
                                <br>
                                    <p class="font-black-muted d-flex justify-content-center">There Are No New Comments</p>
                                <br>
                                <br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %} -->




    {% if event  %}
        <div class="container-fluid">
            <div class="card mb-4 mx-5 entry">
                <div class="card-header">
                    <div class="row">
                        <div class="col">{{event.eventName}}</div>
                        <a style="display: inline;padding-right: 2%;" href="{% url 'Comments:Comments' id=event.id %}">
                            <button type="button" class="btn btn-outline-secondary">Comment</button>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <p>Comments: </p>
                    
                        {% for j in commentsValue %}
                        {% if j.event.eventName == event.eventName %}
                            <div class="card mb-4" style="width: auto;">
                                <p style="font-weight: bold;">{{j.name}}</p>
                                <p >{{ j.comment }}</p>
                            </div>
                        {% endif %}
                        {% endfor %}
                    
                </div>
            </div>
        </div>
        {% endif %}
        </body>
        {% endblock %}