{% extends 'Comments/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <style>
        .container{
            width: 100%;
        }
        .banner{
            width: 100%;
            height: 20vh;
            background-color: #2D9CDB;
        }
    </style>
    <body>
        <div class="banner"></div>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-light" type="submit" value="Submit">
            </form> 
        </div>
    </body>
{% endblock %}