{% extends 'baseMerch.html' %}

{% load crispy_forms_tags %}
{% load static %}



{% block tittle %}
<title>List-List Merchandise</title>
{% endblock %}

{% block content %}
<div class="banner">
    <span>Merchandise</span>
</div>
{% if event %}
{% if Merch_list.first == None %}
<div class="container">

  <div id="carouselExampleIndicators" class="carousel slide border border-dark" data-ride="carousel">
      <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
      </ol>
      <div class="carousel-inner carousel_1">
          <div class="carousel-item active" id="slide 1">
              <img src="https://img.icons8.com/pastel-glyph/64/000000/image--v1.png" class="d-block img">
              <div class="carousel_text   ">
                  <h4>Belum tersedia</h4>
                  <p>Rp. 0,00</p>
                </div>
          </div>
      </div>
      <h5 class="space"></h5>
      <div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> 
      </div>
    </div>


{% else %}
<div class="container">

  <div id="carouselExampleIndicators" class="carousel slide border border-dark" data-ride="carousel">
      <ol class="carousel-indicators">
          {% for j in Merch_list %}
        <li data-target="#carouselExampleIndicators" data-slide-to="[[forloop.counter}}" class="active"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner carousel_1">
          {% for j in Merch_list%}
          <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" id="slide{{ forloop.counter }}">
              <img src="{{j.Picture.url}}" class="d-block img">
              <div class="carousel_text   ">
                  <h4>{{j.name}}</h4>
                  <p>{{j.Price}}</p>
                </div>
          </div>
          {% endfor %}
      </div>
      <h5 class="space"></h5>
      <div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> 
      </div>
      
</div>
{% endif %}
{% endif %}
<a href="{% url 'Merchandise:RegisterMerch' id=event.id %}">
  <button type="button" class="btn btn-outline-secondary">Register Merchandise</button>
</a>
{% endblock %}