{% extends 'baseMerch.html' %}

{% load crispy_forms_tags %}
{% load static %}


{% block tittle %}
 <title>Daftar Merchandise</title>
{% endblock %}

{% block content %}

<div class="banner">
    <span>Daftar Merchandise</span>
</div>
<div class="container">
  <form  method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class = col-5>
            <div class="form-group">
                <label for="form_name">Nama Barang</label>
                {{form.name}}
              </div>
              <div class="form-group">
                <label for="form_Price">Harga Barang</label>
                {{form.Price}}
              </div>
              <div class="form-pic form-group border col-10">
                  <h1></h1>
                {{form.Picture}}
                <span id="capt">upload your image here!</span>
                <h6></h6>
              </div>
              <input class="btn btn-dark" type="submit" value="Submit">
        </div>
        
        
    </form>  
</div>

<script>
     
  var input = document.getElementById('imageinput');
  var infoArea = document.getElementById('capt');
  input.addEventListener('change', showFileName);
  function showFileName(event) {
    // the change event gives us the input it occurred in 
    var input = event.srcElement;
    
    // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
    var fileName = input.files[0].name;

    // use fileName however fits your app best, i.e. add it into a div
    infoArea.textContent = fileName;
  }

</script>

{% endblock %}



 


