@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
html{
    height: 100%;
}

*{
    border: 0;
}

.card-link {
    color: rgb(92, 91, 91);
    font-size: bold;
  }
  
  .card-link:hover {
    text-decoration: underline;
    color: rgb(224, 98, 98);
  }
  
  .card {
    width: 50vw;
  }

  
  
  .button-create {
    background-color:  white;
    border-radius: 10px;
    padding: 5px;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    padding: 10px;
    width: 10%;
    text-align: center;
    
  }
  
  .button-submit {
    background-color:  white ;
    border-radius: 10px;
    padding: 5px;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    padding: 2px;
    width: 10%;
    text-align: center;
    
  }
  
  .button-create:hover {
    background-color: #2D9CDB;
    color:  white;
    text-decoration: none;
  }
  
  .button-submit:hover {
    background-color : #2D9CDB;
    color :white;
    text-decoration: none;
  }

  
.card-link {
    color: rgb(92, 91, 91);
    font-size: bold;
  }
  
  .card-link:hover {
    text-decoration: underline;
    color: rgb(224, 98, 98);
  }
  
  .card {
    width: 50vw;
    border: 4px solid  #2D9CDB;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
 
    
  }

  
  
  
@media only screen and (min-width: 280px) { }

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  }