/* Small devices (landscape phones, 280px and up) */
@media only screen and (max-width: 389px) and (min-width: 259px){ 
.col{
    padding-top: 10%;
    text-align: center;
    align-items: center;
    padding-left: 30%;
}

.row{
    padding-top: 10%;
}

.col-sm{
    padding-bottom: 15%;
}

.col img{
    display: none;
}

}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 500px) and (min-width: 390px){ 
    .col{
        padding-top: 10%;
        text-align: center;
        padding-left: 35%;
    }
    
    .row{
        padding-top: 10%;
    }
    
    .col-sm{
        padding-top: 10%;
        padding-bottom: 25%;
    }
    .col img{
        display: none;
    }
}

@media only screen and (max-width: 599px) and (min-width: 501px){ 
    .col{
    padding-top: 10%;
    padding-left: 35%;
    padding-right: 0%;
    text-align: center;
    align-items: center;
    }

    .col-sm{
        padding-bottom: 10%;
        padding-top: 5%;
    }

    button{
        width: 100%;
    }
    .col img{
        display: none;
    }

}

@media only screen and (max-width: 899px) and (min-width: 600px){ 
        .container{
            padding-top: 10%;
            padding-left: 5%;
        }
        h1{
            padding-top: 10%;
            padding-bottom: 10%;
        }

    }

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 1025px) and (min-width: 900px){ 
.container{
    padding-top: 30%;
    padding-left: 8%;
    text-align: center;
}
h1{
    padding-top: 10%;
    padding-bottom: 10%;
}


}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  }