@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@600&family=Mulish:wght@300;400;500;600&family=Open+Sans&family=Oswald:wght@200;300;400&display=swap');



@media only screen and (max-width: 389px) and (min-width: 259px){ 
    #card{
        height: 100%;
        padding-bottom: 5%;
    }
    
    .row{
     flex-direction: column;
    }
    .col{
        width: 100%;
    }
    img{
        padding-top: 5%;
    }
    }
    /* Small devices (landscape phones, 576px and up) */
    @media only screen and (max-width: 500px) and (min-width: 390px){ 
        #card{
            height: auto;
            padding-top: 10%;
            padding-bottom: 5%;
        }
        
        .row{
         flex-direction: column;
        }
        .col{
            width: 100%;
        }
    }
    
    @media only screen and (max-width: 599px) and (min-width: 501px){ 
        
    }
    
    /* Medium devices (tablets, 768px and up) */
    @media only screen and (max-width: 899px) and (min-width: 768px){ 
        .row{
            padding-top: 5%;
        }
        .col p{
            font-size: 1.2rem;
        }
        img{
            width: 6vw;
        }
        .container-fluid{
            padding-bottom: 10%;
        }
    }



    @media only screen and (max-width: 1025px) and (min-width: 900px){ 
        .row{
            padding-top: 5%;
        }
        .col p{
            font-size: 1.4rem;
        }
        img{
            width: 6vw;
        }
        .container-fluid{
            padding-bottom: 10%;
        }
    }
    
    /* Extra large devices (large desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {  }