html{
    height: 100%;
}

*{
    border: 0;
}

@media only screen and (min-width: 280px) { }

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  }