{% extends 'RegisterEvent/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<body>

    {% if event  %}
        <div class="container-fluid">
            <div class="card mb-4 mx-5 entry">
                <div class="card-header">
                    <div class="row">
                        <div class="col"> {{event.eventName}}</div>
                    </div>
                </div>
                <div class="card-body">
                            <p>Registered: </p>
                            <ul>
                                {% for j in registerevent  %}
                                    {% if j.event.eventName == event.eventName %}
                                        <p class="card-text"><li>{{ j.name }}</li></p>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
            
    {% endif %}
        </div>
</body>
{% endblock %}