
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        h1{
            font-size: 8vw;
            font-family: Montserrat;
            color: #2F80ED;
        }
        .dark-mode {
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
        }
        .row{
            display: flex;
        }
        button{
            width: 100%;
        }
    </style>

<link rel="stylesheet" href="{% static 'css/user-type.css' %}">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>CHOOSE</h1>
                <br>
                <h1>YOUR</h1>
                <br>
                <h1>ROLE</h1>
                <br>
                <div class="row">
                    <div class="col-sm">
                        <a href="{% url 'CreateEvent:ViewEvent' %}">
                            <button type="button" class="btn btn-primary btn-lg">Event Attendees</button>
                        </a>
                    <br>
                    </div>
                    <div class="col-sm">
                        <a href="{% url 'CreateEvent:indexCreate' %}">
                            <button type="button" class="btn btn-outline-dark btn-lg">Event Host</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col" style="padding-left: 10%;">
                <img src="https://files.catbox.moe/uzwog5.png" alt="This text is shown if server fails to load image" />
            </div>
        </div>
    </div>
{% endblock %}