{% extends 'baseCreate.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <style>
        .container{
            width: 100%;
        }
        .banner{
            width: 100%;
            height: 20vh;
            background-color: #2D9CDB;
        }

    </style>
    <body>
        <div class="banner"></div>
        <div class="container ">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="button-submit mx-auto" value="SUBMIT">
            </form> 
            <div class="d-flex justify-content-center">
                <a role="button" class="button-create" href="{% url 'CreateEvent:ViewEvent' %}">VIEW </a>
            </div>
        </div>
        <script>
            $(function () {
              $("#id_date").datepicker({
                format:'dd/mm/yyyy',
              });
            });
          </script>
      
    </body>
    
{% endblock %}
{% block script %}
 <script>
     
			var input = document.getElementById('imageinput');
			var infoArea = document.getElementById('capt');
			input.addEventListener('change', showFileName);
			function showFileName(event) {
				// the change event gives us the input it occurred in 
				var input = event.srcElement;
				
				// the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
				var fileName = input.files[0].name;

				// use fileName however fits your app best, i.e. add it into a div
				infoArea.textContent = fileName;
			}
		
 </script>

{% endblock %} 
