{% extends "baseCreate.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  

    
   
    {% if events.first != None %}

    <div class="row justify-content-center ">
        {% for event in events %}
        <div class="card mb-4 mx-5 entry" style="width: 18rem;">
            {% if  event.Picture %}
            <img src="{{event.Picture.url}}" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <div class="row">
                <div class="col"> 
                  <h5 class="card-title">{{event.eventName}} </h5>
                </div>
                <div class="col"> 
                  <a href="{% url 'RegisterEvent:DisplayRegisterEvent' id=event.id %}"><p style="text-align: right;">Attendees</p></a>
                </div>
              
              </div>
            
    
              <p class="card-text">{{ event.eventDate }}</p>
              <p class="card-text">{{ event.tempat }}</p>
              <p class="card-text">{{ event.description }}</p>
              <a href="{% url 'RegisterEvent:RegisterEvent' id=event.id %}">
                <button type="button" class="btn btn-outline-primary">Register</button>
             </a>
             <a href="{% url 'Comments:DisplayComments' id=event.id %}">
                <button type="button" class="btn btn-outline-secondary">Comments</button>
             </a>
             <a href="{% url 'Merchandise:ListMerch' id=event.id  %}">
                <p style="font-style: italic;font-size: small;">See Merchandises</p>
             </a>
             
            </div>
          </div>
          {% endfor %}
   

    {% endif %}
   
       

    </div>

</div>

{% endblock content %}