@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@600&family=Mulish:wght@300;400;500;600&family=Open+Sans&family=Oswald:wght@200;300;400&display=swap');

html{
    height: 100%;
}

*{
    border: 0;
}

.navbar-brand{
    font-family: Oswald;
}

:focus {
    outline: 0;
}

.custom-switch {
    padding-left: 3.5rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    outline: 0;
}

.custom-control-input:focus {
    outline: 0;
    border: 1px solid black;
}
.custom-control-input:focus ~ .custom-control-label::before{
    border: 1px solid black;
}

.custom-control-label::before {
    height: 20px;
    background-color: #E7E8E9;
    border: 0;
    
    transition: background-color .15s ease-in-out;
}
.custom-switch .custom-control-label::before {
    left: -3.2rem;
    top: 1px;
    width: 46px;
    border-radius: 30px;
    box-shadow: none;
}

.custom-switch .custom-control-label::after {
    width: 18px;
    height: 18px;
    top: 1.5px;
    left: calc(-3.2rem + 1.6px);
    background-color: #fff;
    border-radius: 0.5rem;
    transition: transform 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border: 0;
    background-color: #FFD200;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
     transform: translateX(1.5rem);
}

@media only screen and (min-width: 280px) { }

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  }